
<div class="container first-level">

  <div class="story-box" id="story-box">
  </div>


  <div class="story" id="story1">
    <div>
      <h1>La princesse qui cherchait un nouveau chateau</h1>
      <h2>Épisode 1 : Rivière du Moulin</h2>
      <br>
      <hr>
      <br>
      <p>Il y a pas si longtemps dans un royaume pas si lointain, une jolie princesse cherchait un nouveau chateau où aller vivre avec son dragon.</p>
      <p>La princesse décida d'abord de tenter sa chance dans le royaume de Rivière du Moulin. Elle savait que les chateaux y étaient abordables et que la qualité de vie y était particulièrement bonne.</p>
      <p>L'aventure s'annonçait cependant plus périeuse que prévue. Elle devait trouver un chateau convenable rapidement, sans se prendre trop la tête avec son dragon.</p>


      <div class="btn btn-warning" id="btn1">Go!</div>
    </div>
  </div>


  <div class="story display-none" id="story2">
    <div class="image-lose">

      <div class="lose-text">
        <h1>GAME OVER!</h1>
        <div class="btn btn-warning" id="btn2">RESTART?</div>
      </div>
    </div>
    <div>


    </div>

  </div>


  <div class="story-picture display-none" id="story3">
    <div class = "carre-texte">
      <h1>Rivière du Moulin</h1>
      <h2>La déception</h2>
      <br>
      <hr>
      <br>
      <p>Après avoir visité plusieurs chateaux, la princesse doit venir à l'évidence : ce n'est pas à Rivière du Moulin qu'elle trouvera le palais de ses rêves... Le premier, une rare aubaine, était en fait une grotte humide au niveau sous-sol (rez-de-chaussée selon le chevalier propriétaire). Le deuxième était bien. Mais les voisins du dessus étaient des bardes qui chantaient et dansaient toute la nuit. Impossible..., le dragon avait besoin de ses 15 heures de sommeil par jour pour ne pas devenir désagréable...
        Le troisième datait d'une autre époque. Les fenêtre avaient été installées avant-même l'invention de la catapulte! C'est vous dire.
      </p>
      <%= link_to "Niveau suivant", show_path, :class => "btn btn-warning", :id => "btn3" %>
    </div>
    <div class="row">
      <div class="carre-photo col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div id="photo1"></div></div>
        <div class="carre-photo col-xs-12 col-sm-12 col-md-4 col-lg-4">
         <div id="photo2"></div></div>
         <div class="carre-photo col-xs-12 col-sm-12 col-md-4 col-lg-4">
           <div id="photo3"></div></div>

         </div>
       </div>


       <div class="row">
        <% 9.times do |x| %>
        <p class="col-xs-12">
          <% 9.times do |y| %>
          <div class="square" id =<%= x+1%><%= y+1 %> ></div>
          <% end %>
        </p>
        <% end %>
      </div>
      <%= image_tag "bg-01.png" %>
    </div>

    <% content_for :js do %>
    <script>

      Array.prototype.sample = function(){
        return this[Math.floor(Math.random()*this.length)];
      }

      function keyDownTextField(e) {
        const keyCode = e.keyCode;
        const obstacle = [16, 21, 23, 27, 33, 36, 41, 47, 55, 75, 76, 78, 83, 84, 86, 91, 93, 94];

        let user = parseInt(document.querySelector(".active").id);
        let dragon1 = parseInt(document.querySelector(".active2").id);
        if (user === dragon1){

          document.querySelector(".active").classList.remove("active");
          document.querySelector(".active2").classList.remove("active2");
          document.querySelector(".active3").classList.remove("active3");
          document.getElementById("37").classList.remove("fire");
          document.getElementById("82").classList.remove("fire");
          document.getElementById("85").classList.remove("fire");
          document.getElementById("story2").classList.remove("display-none");
          document.getElementById("story-box").classList.remove("display-none");
        }




  // right
  if (keyCode === 39) {
    let idNum = parseInt(document.querySelector(".active").id);

    document.querySelector(".active").classList.remove("active");

    if (idNum % 10 === 9) {
      document.getElementById(idNum).classList.add("active");
    }
    if (obstacle.includes(idNum + 1)) {
      document.getElementById(idNum).classList.add("active");
    }
    else {
      document.getElementById(idNum).classList.remove("flip");
      idNum += 1;
      document.getElementById(idNum).classList.add("active");
      document.getElementById(idNum).classList.add("flip");
    }
  }
  // left
  if (keyCode === 37) {
    let idNum = parseInt(document.querySelector(".active").id);


    document.querySelector(".active").classList.remove("active");


    if (idNum % 10 === 1) {
      document.getElementById(idNum).classList.add("active");
    }
    if (obstacle.includes(idNum - 1)) {
      document.getElementById(idNum).classList.add("active");
    }
    else {
      idNum -= 1;
      document.getElementById(idNum).classList.add("active");
      document.getElementById(idNum).classList.remove("flip");
    }
  }
  // up
  if (keyCode === 40) {
    let idNum = parseInt(document.querySelector(".active").id);
    document.querySelector(".active").classList.remove("active");

    if (idNum > 90) {
      document.getElementById(idNum).classList.add("active");
    }
    if (obstacle.includes(idNum + 10)) {
      document.getElementById(idNum).classList.add("active");
    }
    else {
      idNum2 = idNum + 10;
      document.getElementById(idNum2).classList.add("active");

      if (document.getElementById(idNum).classList.contains("flip")){
        document.getElementById(idNum2).classList.add("flip");
        document.getElementById(idNum).classList.remove("flip");
      }

    }


  }
  // down
  if (keyCode === 38) {
    let idNum = parseInt(document.querySelector(".active").id);
    document.querySelector(".active").classList.remove("active");

    if (idNum < 20) {
      document.getElementById(idNum).classList.add("active");
    }
    if (obstacle.includes(idNum - 10)) {
      document.getElementById(idNum).classList.add("active");
    }
    else {
      idNum2 = idNum - 10;
      document.getElementById(idNum2).classList.add("active");

      if (document.getElementById(idNum).classList.contains("flip")){
        document.getElementById(idNum2).classList.add("flip");
        document.getElementById(idNum).classList.remove("flip");
      }
    }
  }
    //check fail
    if (document.querySelector(".active").id === "37"){
      document.getElementById("37").classList.add("fire");

      let count = document.querySelectorAll(".fire").length;

      if (count === 3){

      }


    }
    if (document.querySelector(".active").id === "82"){
      document.getElementById("82").classList.add("fire");
      let count = document.querySelectorAll(".fire").length;
      if (count === 3){
        document.getElementById("37").classList.remove("fire");
        document.getElementById("82").classList.remove("fire");
        document.getElementById("85").classList.remove("fire");
        document.getElementById("story3").classList.remove("display-none");
        document.getElementById("story-box").classList.remove("display-none");
        document.querySelector(".active").classList.remove("active");
        document.querySelector(".active2").classList.remove("active2");
        document.querySelector(".active3").classList.remove("active3");
      }

    }
    if (document.querySelector(".active").id === "85"){

      document.getElementById("85").classList.add("fire");
      let count = document.querySelectorAll(".fire").length;
      if (count === 3){

        document.getElementById("37").classList.remove("fire");
        document.getElementById("82").classList.remove("fire");
        document.getElementById("85").classList.remove("fire");
        document.getElementById("story3").classList.remove("display-none");
        document.getElementById("story-box").classList.remove("display-none");
        document.querySelector(".active").classList.remove("active");
        document.querySelector(".active2").classList.remove("active2");
        document.querySelector(".active3").classList.remove("active3");
      }
    }
  }




// --------------------------------------------------------------- //

function keyDownTextField1() {


  sampleNum = [10,10,-10,-10,-10,1,1,-1,-1,-1].sample();
  const obstacle = [16, 21, 23, 27, 33, 36, 41, 47, 55, 75, 76, 78, 83, 84, 86, 91, 93, 94];
  let user = parseInt(document.querySelector(".active").id);
  let dragon1 = parseInt(document.querySelector(".active2").id);

  if (user === dragon1){
    document.getElementById("story2").classList.remove("display-none");
    document.getElementById("story-box").classList.remove("display-none");
    document.querySelector(".active").classList.remove("active");
    document.querySelector(".active2").classList.remove("active2");
    document.querySelector(".active3").classList.remove("active3");

    // alert("you lose")
    // location.reload();


  }



  // right
  if (sampleNum === 1) {
    let idNum = parseInt(document.querySelector(".active2").id);
    document.querySelector(".active2").classList.remove("active2");

    if (idNum % 10 === 9) {
      document.getElementById(idNum).classList.add("active2");
    }
    if (obstacle.includes(idNum + 1)) {
      document.getElementById(idNum).classList.add("active2");
    }
    else {
      idNum += 1;
      document.getElementById(idNum).classList.add("active2");
      document.getElementById(idNum).classList.remove("flip");
    }

  }
  // left
  if (sampleNum === -1) {
    let idNum = parseInt(document.querySelector(".active2").id);
    document.querySelector(".active2").classList.remove("active2");

    if (idNum % 10 === 1) {
      document.getElementById(idNum).classList.add("active2");
    }
    if (obstacle.includes(idNum - 1)) {
      document.getElementById(idNum).classList.add("active2");
    }
    else {
      document.getElementById(idNum).classList.remove("flip");
      idNum -= 1;

      document.getElementById(idNum).classList.add("active2");
      document.getElementById(idNum).classList.add("flip");
    }
  }
// up
if (sampleNum === 10) {
  let idNum = parseInt(document.querySelector(".active2").id);
  document.querySelector(".active2").classList.remove("active2");

  if (idNum > 90) {
    document.getElementById(idNum).classList.add("active2");
  }
  if (obstacle.includes(idNum + 10)) {
    document.getElementById(idNum).classList.add("active2");

  }
  else {

    idNum += 10;
    document.getElementById(idNum).classList.add("active2");

  }
}
  // down
  if (sampleNum === -10) {
    let idNum = parseInt(document.querySelector(".active2").id);
    document.querySelector(".active2").classList.remove("active2");

    if (idNum < 20) {
      document.getElementById(idNum).classList.add("active2");
    }
    if (obstacle.includes(idNum - 10)) {
      document.getElementById(idNum).classList.add("active2");
    }
    else {
      idNum -= 10;
      document.getElementById(idNum).classList.add("active2");
    }
  }


}

function keyDownTextField2() {


  sampleNum = [10,-10,,1,-1,].sample();
  const obstacle = [16, 21, 23, 27, 33, 36, 41, 47, 55, 75, 76, 78, 83, 84, 86, 91, 93, 94];
  let user = parseInt(document.querySelector(".active").id);
  let dragon2 = parseInt(document.querySelector(".active3").id);

  if (user === dragon2){

    document.getElementById("story2").classList.remove("display-none");
    document.getElementById("story-box").classList.remove("display-none");
    document.querySelector(".active").classList.remove("active");
    document.querySelector(".active2").classList.remove("active2");
    document.querySelector(".active3").classList.remove("active3");
  }

  // right
  if (sampleNum === 1) {
    let idNum = parseInt(document.querySelector(".active3").id);
    document.querySelector(".active3").classList.remove("active3");

    if (idNum % 10 === 9) {
      document.getElementById(idNum).classList.add("active3");
    }
    if (obstacle.includes(idNum + 1)) {
      document.getElementById(idNum).classList.add("active3");
    }
    else {
      idNum += 1;
      document.getElementById(idNum).classList.add("active3");
      document.getElementById(idNum).classList.remove("flip");
    }
  }
  // left
  if (sampleNum === -1) {
    let idNum = parseInt(document.querySelector(".active3").id);
    document.querySelector(".active3").classList.remove("active3");

    if (idNum % 10 === 1) {
      document.getElementById(idNum).classList.add("active3");
    }
    if (obstacle.includes(idNum - 1)) {
      document.getElementById(idNum).classList.add("active3");
    }
    else {
      document.getElementById(idNum).classList.remove("flip");
      idNum -= 1;

      document.getElementById(idNum).classList.add("active3");
      document.getElementById(idNum).classList.add("flip");
    }
  }
// up
if (sampleNum === 10) {
  let idNum = parseInt(document.querySelector(".active3").id);
  document.querySelector(".active3").classList.remove("active3");

  if (idNum > 90) {
    document.getElementById(idNum).classList.add("active3");
  }
  if (obstacle.includes(idNum + 10)) {
    document.getElementById(idNum).classList.add("active3");
  }
  else {
    idNum += 10;
    document.getElementById(idNum).classList.add("active3");
  }
}
  // down
  if (sampleNum === -10) {
    let idNum = parseInt(document.querySelector(".active3").id);
    document.querySelector(".active3").classList.remove("active3");

    if (idNum < 20) {
      document.getElementById(idNum).classList.add("active3");
    }
    if (obstacle.includes(idNum - 10)) {
      document.getElementById(idNum).classList.add("active3");
    }
    else {
      idNum -= 10;
      document.getElementById(idNum).classList.add("active3");
    }
  }


}


function start(){
  document.getElementById("story1").classList.add("display-none");
  document.getElementById("story-box").classList.add("display-none");
  setTimeout(function(){


    document.getElementById("99").classList.add("active2");
    document.getElementById("19").classList.add("active3");


    var interval1 = setInterval(keyDownTextField1, 300);
    var interval2 = setInterval(keyDownTextField2, 300);
    document.addEventListener("keyup", keyDownTextField, false);


  }, 2000);


}
document.getElementById("11").classList.add("active");

document.getElementById("btn1").addEventListener("click", start, false);

function restart(){
  location.reload();
}



document.getElementById("btn2").addEventListener("click", restart, false);


  // const obstacle = [16, 21, 23, 27, 33, 36, 41, 47, 55, 75, 76, 78, 83, 84, 86, 91, 93, 94];




  function win(){
    document.getElementById("37").classList.remove("fire");
    document.getElementById("82").classList.remove("fire");
    document.getElementById("85").classList.remove("fire");
    document.getElementById("story3").classList.remove("display-none");
    document.getElementById("story-box").classList.remove("display-none");
    document.querySelector(".active").classList.remove("active");
    document.querySelector(".active2").classList.remove("active2");
    document.querySelector(".active3").classList.remove("active3");

  }











</script>
<% end %>
