<div class="container">
  <div class="row">
    <% 2.times do |x| %>
    <p class="col-xs-12">
      <% 2.times do |y| %>
      <div class="box5" id =a<%= x+1%><%= y+1 %> > </div>
      <% end %>
    </p>
    <% end %>
  </div>
</div>
